<div class="banner">
    <div class="container-fluid">
        <div class="row ">
            <div class="offset-4 col-4 align-self-center ">
                <h1 class="text-center titulo">Tienda Bienestar</h1>
            </div>
            <div class="col-4 text-end ">
                <img width="20%" class="" src="https://cdn-icons-png.freepik.com/512/3718/3718330.png" alt="Logotipo de tienda">

            </div>
        </div>
    </div>
    
    <div class="logo">

    <nav
        class="navbar navbar-expand-sm navbar-dark"
        style="background-color: #022AED; border-top-left-radius: 10px; border-top-right-radius: 20px;"
    >
        <div class="container">
            <button
                class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavId">
                <ul class="navbar-nav mt-2 mt-lg-0 w-100 justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active2" routerLink="/home" aria-current="page" style="color: white; font-weight: bold; background-color: #516CED; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                            >INICIO
                            <span class="visually-hidden">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active2" routerLink="/registrarproducto" aria-current="page" style="color: white; font-weight: bold; background-color: #516CED; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                            >REGISTRAR PRODUCTO
                            <span class="visually-hidden">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active2" routerLink="/registrarventa" aria-current="page" style="color: white; font-weight: bold; background-color: #516CED; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                            >REGISTRAR VENTA
                            <span class="visually-hidden">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active2" routerLink="/verproductos" aria-current="page" style="color: white; font-weight: bold; background-color: #516CED; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                            >VER PRODUCTOS
                            <span class="visually-hidden">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active2" routerLink="/verventas" aria-current="page" style="color: white; font-weight: bold; background-color: #516CED; border-top-left-radius: 15px; border-top-right-radius: 15px;"
                            >VER VENTAS
                            <span class="visually-hidden">(current)</span></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

