<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="mb-3">
          <label for="productoNombre" class="form-label">Nombre del producto:</label>
          <input type="text" class="form-control" id="productoNombre" [ngModelOptions]="{standalone: true}" [(ngModel)]="productoNombre">
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-purple" (click)="buscarProducto()">BUSCAR</button>
          <button type="button" class="btn btn-secondary ms-2" (click)="limpiarCampos()">LIMPIAR</button>
        </div>
        
        <div class="mb-3">
          <label for="departamento" class="form-label">Departamento:</label>
          <input type="text" class="form-control" id="departamento" [value]="producto?.departamento || ''" readonly>
        </div>
        <div class="mb-3">
          <label for="marca" class="form-label">Marca:</label>
          <input type="text" class="form-control" id="marca" [value]="producto?.marca || ''" readonly>
        </div>
        <div class="mb-3">
          <label for="costoProducto" class="form-label">Costo de producto:</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
          <input type="number" class="form-control" id="costoProducto" [value]="producto?.costo || ''" readonly>
          </div>
        </div>
        <div class="mb-3">
          <label for="precioVenta" class="form-label">Precio de venta:</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
          <input type="number" class="form-control" id="precioVenta" [value]="producto?.precioVenta || ''" readonly>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form class="mt-3">
        <div class="mb-3">
          <label for="fecha" class="form-label">Fecha:</label>
          <input type="date" class="form-control" id="fecha" [(ngModel)]="fecha" name="fecha">
        </div>
        <div class="mb-3">
          <label for="cantidad" class="form-label">Cantidad:</label>
          <input type="number" class="form-control" id="cantidad" [ngModelOptions]="{standalone: true}" [(ngModel)]="cantidadComprar" (input)="validarCantidad()" [readonly]="isCantidadReadonly">
        </div>
        <div class="mb-3">
          <label for="precioVenta2" class="form-label">Total final:</label>
          <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="number" class="form-control" id="precioVenta2" [value]="total" readonly>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-4 botones">
    <div class="col-md-6 d-flex justify-content-start">
      <button class="btn btn-danger" (click)="onBuscarClickFailed()">CANCELAR</button>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <button class="btn btn-success" (click)="registrarVenta()">REGISTRAR VENTA</button>
    </div>
  </div>
</div>