<div class="container mt-4">
    <h2 class="text-center">Ventas por día</h2>
    
    <div class="row mt-4">
        <!-- Tabla de ventas -->
        <div class="col-md-8">
            <table class="table table-bordered table-hover ">
                <thead class="table-primary text-center" style="background-color: #B9AEF5 !important;">
                    <tr>
                        <th>Día</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let venta of ventas">
                        <td>{{ venta.fecha }}</td>
                        <td>
                            <ul>
                                <li>{{ venta.productos.nombre }}</li>
                            </ul>
                        </td>
                        <td>{{ venta.cantidad }}</td>
                        <td>{{ venta.total | currency }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Suma total -->
            <div class="text-end mt-3">
                <h5>Suma Total: {{ sumaTotal | currency }}</h5>
            </div>
        </div>
        
        <!-- Selector de fechas -->
        <div class="col-md-4">
            <label for="datepicker" class="form-label">Seleccionar fecha</label>
            <input type="date" id="datepicker" class="form-control" [(ngModel)]="fechaSeleccionada">
            <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-purple" (click)="buscarVentas()">Buscar</button>
                <button class="btn btn-secondary ms-2" (click)="mostrarTodasVentas()">Mostrar todas las ventas</button>
            </div>
        </div>
    </div>
</div>
