<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-8">
      <label for="buscarProducto" class="form-label">Buscar producto:</label>
      <input type="text" id="buscarProducto" class="form-control d-inline-block w-50" [(ngModel)]="buscarTermino">
      <select class="form-select d-inline-block w-25 ms-2" id="buscarCategoria" [(ngModel)]="buscarCategoria">
        <option value="todo">Todo</option>
        <option value="producto">Producto</option>
        <option value="departamento">Departamento</option>
      </select>
      <button class="btn btn-primary ms-2" (click)="buscarProductos()">BUSCAR</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-primary text-center">
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Departamento</th>
          <th>Marca</th>
          <th>Costo producto</th>
          <th>Precio Venta</th>
          <th>Unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (producto of productos; track $index) {
          <tr >
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.departamento }}</td>
            <td>{{ producto.marca }}</td>
            <td>${{ producto.costo }}</td>
            <td>${{ producto.precioVenta }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>
              <div class="col-md-12 text-center">
                <button class="btn btn-warning" style="width: 150px; font-weight: bold;" [routerLink]="['/actualizarproducto', producto.id]">ACTUALIZAR</button>
              </div>
              <div class="col-md-12 text-center">
                <button class="btn btn-danger" style="width: 150px; font-weight: bold;" (click)="eliminarProducto(producto.id)">BORRAR</button>
              </div>
            </td>
          </tr>
        }
        
      </tbody>
    </table>
  </div>
</div>
