<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-8">
      <label for="buscarProducto" class="form-label">Buscar producto:</label>
      <input type="text" id="buscarProducto" class="form-control d-inline-block w-50" [(ngModel)]="buscarTermino">
      <select  class="form-select d-inline-block w-25 ms-2" id="buscarCategoria" [(ngModel)]="buscarCategoria">
        <option value="producto" selected>Producto</option>
        <option value="departamento">Departamento</option>
        <option value="todo">Todo</option>
      </select>
      <button class="btn btn-primary ms-2" (click)="buscarProductos()">BUSCAR</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-success text-center"  style="background-color: #B9AEF5 !important" >
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Departamento</th>
          <th>Marca</th>
          <th>Costo producto</th>
          <th>Precio Venta</th>
          <th>Unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (producto of productos; track $index) {
          <tr >
            <td class="text-center">{{ producto.id }}</td>
            <td class="text-center">{{ producto.nombre }}</td>
            <td class="text-center">{{ producto.departamento }}</td>
            <td class="text-center">{{ producto.marca }}</td>
            <td class="text-center">${{ producto.costo }}</td>
            <td class="text-center">${{ producto.precioVenta }}</td>
            <td class="text-center">{{ producto.cantidad }}</td>
            <td>
              <div class="col-md-12 text-center">
                <div class="row justify-content-center">
                  <div class="col-md-6 text-end">
                    <button class="btn btn-warning"  [routerLink]="['/actualizarproducto', producto.id]">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                  </div>
                  <div class="col-md-6 text-start">
                    <button class="btn btn-danger" (click)="eliminarProducto(producto.id)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        }
        
      </tbody>
    </table>
  </div>
</div>
