#buscarBtn {
    background-color: #7600F5;
    color: white;
    border: none;
  }
  
  #actualizarBtn {
    width: 150px;
    font-weight: bold;
  }
  
  th {
    background-color: #B9AEF5 ;
    color: black;
  }